.sc-cards-container {
  max-width: 1137px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 1230px) {
    max-width: 750px;
  }
}

.sc-cards-title {
  margin-left: 17px;

  h1,
  h2,
  h3,
  p {
    color: var(--color_navy);
    font-family: "Oswald", "Arial Narrow", Arial, sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
    margin-top: 62px !important;
  }
}

.sc-cards {
  max-width: 1137px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 43px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin-top: 40px;
  min-height: 200px;
  column-gap: 33px;
  row-gap: 55px;

  .en__component--copyblock {
    width: 357px;
    height: 441px;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    overflow: hidden;
    padding: 0 0 50px 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;

    &[data-selected="true"] {

      .sc-card-image-flip .sc-card-image-inner {
        transform: rotateY(180deg);
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 197px;
        right: 0;
        width: 95px;
        height: 86px;
        background-image: url("data:image/svg+xml,<svg width='95' height='86' viewBox='-3 -3 95 86' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M89 29.4499C89 55.6387 58.8971 73.3933 45.3558 80C31.0846 73.3933 0 56.4323 0 29.4499C0 -2.79016 33.7388 -7.4495 44.9279 13.1269C55.9888 -8.73557 89 -3.28618 89 29.4499Z' fill='%23E11F28' stroke='white' stroke-width='6' paint-order='stroke fill'/><path fill-rule='evenodd' clip-rule='evenodd' d='M63.3581 34.8314H59.0585C55.6205 34.8314 52.809 32.0165 52.809 28.5746V24.2628C52.809 20.8193 49.9984 18.0043 46.5604 18.0043H42.7307C39.2952 18.0043 36.4821 20.8193 36.4821 24.2628V28.5746C36.4821 32.0165 33.6698 34.8314 30.2335 34.8314H25.9322C22.4958 34.8314 19.6827 37.6497 19.6827 41.0949V44.93C19.6827 48.3727 22.4958 51.1885 25.9322 51.1885H29.8052C29.771 51.0992 29.7302 50.9923 29.7185 50.938C29.5868 50.3579 29.8293 47.4611 29.8293 46.8634C29.8293 46.2632 30.2393 45.011 31.1176 43.5734C31.995 42.1317 33.9673 41.8646 34.4764 41.61C35.5388 41.0782 36.048 39.6048 36.2113 38.4027C36.3746 37.2022 36.5554 36.6396 36.9371 36.3683C37.3212 36.0936 37.282 34.8731 37.5728 34.7471C37.8628 34.6219 38.1236 35.0443 38.6269 36.0936C38.8461 36.5486 40.1726 36.0753 40.6967 37.0228C41.0592 37.6764 40.8975 37.9135 41.1884 37.9677C41.4792 38.022 42.0058 38.0604 42.0241 38.4419C42.0416 38.8243 41.8216 39.3318 41.7675 39.7876C41.7125 40.2426 40.4151 40.2927 40.4434 40.6057L40.4676 40.9179C40.5784 41.7761 41.0084 42.4498 40.6909 42.8989C40.3759 43.3472 40.0376 44.5251 40.0018 45.4434C39.9626 46.3575 39.4043 47.7032 39.0494 48.5463C38.6927 49.387 38.9369 50.0966 38.5103 51.1259C38.0786 52.1552 38.3394 52.247 38.5461 52.3597C38.7502 52.4699 39.3843 52.808 39.2352 53.389C39.0869 53.9675 37.537 53.7805 37.2387 53.743C36.9421 53.7054 36.9779 53.2196 36.8837 53.0326C36.7912 52.8472 36.6054 52.5292 36.6229 52.9199C36.6413 53.3139 36.3429 53.5551 36.0446 53.6144C35.9671 53.6269 35.618 53.6111 35.1314 53.5802C35.5505 54.1136 35.8863 54.7172 36.1171 55.3667C37.3304 55.1797 38.3794 54.8892 38.6269 54.8658C39.2769 54.799 39.7685 54.885 39.6902 55.1813C39.5577 55.6881 38.9052 56.0253 36.3938 56.4511C36.4479 56.7775 36.4821 57.1089 36.4821 57.4503V61.7587C36.4821 65.2023 39.2952 68.0189 42.7307 68.0189H46.5604C49.9984 68.0189 52.809 65.2023 52.809 61.7587V57.4503C52.809 56.34 53.1048 55.2974 53.6173 54.3891C52.7157 54.4542 51.7833 54.3532 51.2325 53.8573C50.5734 53.2646 52.5357 53.0058 52.4157 52.6702C51.9541 51.3872 50.5734 50.6634 49.8185 49.114C49.6835 48.8377 49.1668 50.6868 48.8327 51.6167C48.3869 52.8623 48.6027 53.7196 46.9904 53.9183C45.3822 54.1153 45.0872 53.0301 45.908 52.535C46.7287 52.0433 47.0429 51.8655 47.1229 51.5491C47.3203 50.7627 48.2969 45.5853 46.9487 46.0795C46.6554 46.2114 45.4747 51.7219 44.6214 52.1811C43.8006 52.5108 43.9023 53.4566 43.1474 53.4566C42.3891 53.4566 41.635 53.1277 41.7333 52.3697C41.8325 51.6134 43.309 51.8446 43.7373 50.2652C45.0197 46.84 44.0015 44.2713 44.0673 42.7578C44.1331 41.2418 43.7048 40.5815 43.279 38.805C42.8507 37.0286 43.574 35.1169 43.9348 34.2612C44.2973 33.4056 44.3306 33.57 43.9348 33.1418C43.5415 32.7127 42.2908 33.7679 41.6017 32.9439C40.7184 32.0223 40.6509 31.1641 41.0084 30.8703C41.3708 30.5731 42.7849 29.9161 42.4249 29.7842C42.0616 29.6515 42.2574 28.5328 42.4249 27.8725C42.5874 27.2147 43.3782 27.1153 44.3948 26.9509C45.413 26.7856 46.2688 26.7196 47.452 26.9509C48.6369 27.1813 49.1952 27.5444 50.2434 28.1697C51.2967 28.795 50.7709 29.8501 50.4776 30.4078C50.1809 30.9663 50.0818 30.639 49.6226 31.1641C49.161 31.6926 49.3902 32.3854 49.6226 32.6142C49.8518 32.8446 50.6359 33.388 50.9959 34.1477C51.3583 34.9032 51.3625 34.5901 52.0199 36.0394C52.6791 37.4877 53.8956 39.6607 56.982 43.7446C59.2877 46.7882 59.551 48.2967 59.3118 49.412C60.8392 47.9044 62.759 45.7798 62.684 44.4483C62.5857 42.6226 62.3757 41.0615 63.5081 42.4481C64.5747 43.7554 64.5089 47.325 59.9418 51.1885H63.3581C66.7945 51.1885 69.6076 48.3727 69.6076 44.93V41.0949C69.6076 37.6497 66.7945 34.8314 63.3581 34.8314Z' fill='white'/></svg>");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 5;
        pointer-events: none;
      }
    }

    .sc-cards-quantity {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      bottom: 4px;
      width: 241px;
      height: 77px;

      .decrease,
      .increase {
        cursor: pointer;
        width: 73px;
        height: 73px;
        transition: 0.3s ease background-image;
      }

      .decrease {
        background-image: url("data:image/svg+xml,<svg width='73' height='73' viewBox='0 0 73 73' fill='none' xmlns='http://www.w3.org/2000/svg'><g clip-path='url(%23clip0_1138_260)'><path d='M25.0938 36.5H47.9062' stroke='%23163F58' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/><path d='M36.5 63.875C51.6188 63.875 63.875 51.6188 63.875 36.5C63.875 21.3812 51.6188 9.125 36.5 9.125C21.3812 9.125 9.125 21.3812 9.125 36.5C9.125 51.6188 21.3812 63.875 36.5 63.875Z' stroke='%23163F58' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/></g><defs><clipPath id='clip0_1138_260'><rect width='73' height='73' fill='white'/></clipPath></defs></svg>");

        &:hover {
          background-image: url("data:image/svg+xml,<svg width='73' height='73' viewBox='0 0 73 73' fill='none' xmlns='http://www.w3.org/2000/svg'><g clip-path='url(%23clip0_1138_260)'><path d='M25.0938 36.5H47.9062' stroke='%238aa0aa' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/><path d='M36.5 63.875C51.6188 63.875 63.875 51.6188 63.875 36.5C63.875 21.3812 51.6188 9.125 36.5 9.125C21.3812 9.125 9.125 21.3812 9.125 36.5C9.125 51.6188 21.3812 63.875 36.5 63.875Z' stroke='%238aa0aa' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/></g><defs><clipPath id='clip0_1138_260'><rect width='73' height='73' fill='white'/></clipPath></defs></svg>");
        }

        &:active,
        &.clicking {
          background-image: url("data:image/svg+xml,<svg width='73' height='73' viewBox='0 0 73 73' fill='none' xmlns='http://www.w3.org/2000/svg'><g clip-path='url(%23clip0_1138_260)'><path d='M25.0938 36.5H47.9062' stroke='%23E22028' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/><path d='M36.5 63.875C51.6188 63.875 63.875 51.6188 63.875 36.5C63.875 21.3812 51.6188 9.125 36.5 9.125C21.3812 9.125 9.125 21.3812 9.125 36.5C9.125 51.6188 21.3812 63.875 36.5 63.875Z' stroke='%23E22028' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/></g><defs><clipPath id='clip0_1138_260'><rect width='73' height='73' fill='white'/></clipPath></defs></svg>");
        }
      }

      .increase {
        background-image: url("data:image/svg+xml,<svg width='72' height='73' viewBox='0 0 72 73' fill='none' xmlns='http://www.w3.org/2000/svg'><g clip-path='url(%23clip0_1138_264)'><path d='M36 63.875C50.9117 63.875 63 51.6188 63 36.5C63 21.3812 50.9117 9.125 36 9.125C21.0883 9.125 9 21.3812 9 36.5C9 51.6188 21.0883 63.875 36 63.875Z' stroke='%23163F58' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/><path d='M24.75 36.5H47.25' stroke='%23163F58' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/><path d='M36 25.0938V47.9062' stroke='%23163F58' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/></g><defs><clipPath id='clip0_1138_264'><rect width='72' height='73' fill='white'/></clipPath></defs></svg>");

        &:hover {
          background-image: url("data:image/svg+xml,<svg width='72' height='73' viewBox='0 0 72 73' fill='none' xmlns='http://www.w3.org/2000/svg'><g clip-path='url(%23clip0_1138_264)'><path d='M36 63.875C50.9117 63.875 63 51.6188 63 36.5C63 21.3812 50.9117 9.125 36 9.125C21.0883 9.125 9 21.3812 9 36.5C9 51.6188 21.0883 63.875 36 63.875Z' stroke='%238aa0aa' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/><path d='M24.75 36.5H47.25' stroke='%238aa0aa' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/><path d='M36 25.0938V47.9062' stroke='%238aa0aa' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/></g><defs><clipPath id='clip0_1138_264'><rect width='72' height='73' fill='white'/></clipPath></defs></svg>");
        }

        &:active,
        &.clicking {
          background-image: url("data:image/svg+xml,<svg width='72' height='73' viewBox='0 0 72 73' fill='none' xmlns='http://www.w3.org/2000/svg'><g clip-path='url(%23clip0_1138_264)'><path d='M36 63.875C50.9117 63.875 63 51.6188 63 36.5C63 21.3812 50.9117 9.125 36 9.125C21.0883 9.125 9 21.3812 9 36.5C9 51.6188 21.0883 63.875 36 63.875Z' stroke='%23E22028' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/><path d='M24.75 36.5H47.25' stroke='%23E22028' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/><path d='M36 25.0938V47.9062' stroke='%23E22028' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/></g><defs><clipPath id='clip0_1138_264'><rect width='72' height='73' fill='white'/></clipPath></defs></svg>");
        }
      }

      .quantity-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        small {
          font-family: "Open Sans", sans-serif;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: var(--color_navy);
        }

        .quantity {
          font-family: "Oswald", "Arial Narrow", Arial, sans-serif;
          font-weight: bold;
          font-size: 52px;
          line-height: 60px;
          width: 60px;
          text-align: center;
          color: var(--color_navy);
        }
      }

      .quantity {
        font-family: "Oswald", "Arial Narrow", Arial, sans-serif;
        font-weight: bold;
        font-size: 52px;
        line-height: 60px;
        width: 60px;
        text-align: center;
        color: var(--color_navy);
      }
    }

    .sc-cards-amount {
      position: absolute;
      top: 0;
      left: 0;
      margin: 23px 0 0 5px;
      z-index: 2;
      box-sizing: border-box;
      text-align: center;
      font-size: 40px;
      line-height: 48px;
      font-weight: 700;
      color: var(--color_navy);
      width: 108px;
      height: 108px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Oswald", "Arial Narrow", Arial, sans-serif;

      .decimal {
        font-size: 24px;
        margin-top: 5px;
        vertical-align: top;
      }

      &.position-right {
        flex-direction: row-reverse;

        .currency {
          margin-left: 5px;
        }
      }

      .currency {
        font-size: 24px;
        line-height: 54px;
        text-transform: uppercase;
        font-weight: 700;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      margin: 23px 0 0 5px;
      z-index: 1;
      background-color: var(--color_white);
      color: var(--color_navy);
      border-radius: 50%;
      width: 108px;
      height: 108px;
      box-sizing: border-box;
      display: inline-block;
      box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.1);
    }

    p {
      margin: 0;
      padding: 0;

      &:first-child {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        height: 250px;

        img {
          margin-left: 13px !important;
          max-height: 100%;
          object-fit: cover;
          margin: 0;
          display: block;
          border-radius: 4px;
        }
      }

      &.sc-card-image-flip {
        perspective: 1000px;
        width: 100%;
        margin: 0;
        overflow: hidden;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;

        .sc-card-image-inner {
          position: relative;
          width: 100%;
          height: 100%;
          transition: transform 0.6s;
          transform-style: preserve-3d;

          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            max-width: 100%;
            height: 100%;
            margin: 0;
            -webkit-backface-visibility: hidden;
            /* Safari */
            backface-visibility: hidden;

            &.sc-card-image-back {
              transform: rotateY(180deg);
            }
          }
        }
      }
    }

    h1,
    h2,
    h3 {
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      font-size: 20px;
      line-height: 48px;
      text-align: center;
      background-color: var(--color_navy);
      color: var(--color_white);
      margin: 0 !important;
      width: 100%;
      height: 48px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      border-bottom: 2px solid var(--color_white);
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: -18px;
        left: 0;
        width: 0;
        height: 0;
        border-right: 18px solid #5C798A;
        border-top: 18px solid transparent;
      }
    }
  }
}
