#en-shopping-cart {
    @include theme(
    $name: "navy",
    $bg-color: "#163F58",
    $bg-amount-color: "#163F58",
    $border-selected-color: "transparen",
    $white-text: true,
    $amount-white-text: true
  );

  @include theme(
    $name: "red",
    $bg-color: "#E22028",
    $bg-amount-color: "#163F58",
    $border-selected-color: "transparen",
    $white-text: true,
    $amount-white-text: true
  );

  .en__component:not(.en__component--formblock) {
    &.bg-gradient {
      background-image: linear-gradient(to bottom, #163F58, #E22028);
    }
  }
  .sc-cards,
  .sc-info {
    .bg-gradient {
      @include white-text;
      &::before {
        background-image: linear-gradient(to bottom, #163F58, #E22028);
      }
    }
  }
  .sc-info {
    .en__component {
      &::before {
        background-color: transparent !important;
      }
    }
  }
}
