#en-shopping-cart {
  @include theme(
    $name: "navy",
    $bg-color: var(--color_navy),
    $bg-amount-color:  var(--color_navy),
    $border-selected-color: "transparent",
    $white-text: true,
    $amount-white-text: true
  );

  @include theme(
    $name: "red",
    $bg-color:  var(--color_red),
    $bg-amount-color:  var(--color_navt),
    $border-selected-color: "transparent",
    $white-text: true,
    $amount-white-text: true
  );

  .en__component:not(.en__component--formblock) {
    &.bg-gradient {
      background-image: linear-gradient(to bottom, var(--color_navy), var(--color_red));
    }
  }
  .sc-cards,
  .sc-info {
    .bg-gradient {
      @include white-text;
      &::before {
        background-image: linear-gradient(to bottom, var(--color_navy), var(--color_red));
      }
    }
  }
  .sc-info {
    .en__component {
      &::before {
        background-color: transparent !important;
      }
    }
  }
}
