h1 {
  font-family: "Oswald", "Arial Narrow", Arial, sans-serif;
  font-size: 52px;
  line-height: 60px;
  text-align: center;
  font-weight: 400;
  color: #fff;
  margin: 1rem auto;
  strong {
    font-weight: bold;
  }
}
h2,
h3 {
  text-align: center;
}
.sc-form-row {
  max-width: 1030px;
  margin: 0 auto;
}
.en__component--imageblock img:not(.mobile-hide) {
  max-width: 100%;
  height: auto;
  margin: 0;
  display: block;
  padding: 0;
}
