.review-cart {
  margin-top: 52px;
  margin-bottom: 39px;
  display: flex;
  align-items: flex-start;
  
  h1,
  h2,
  h3 {
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
  }
}
