@import "mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");

$breakpoint-1: 1300px; //being used hard-coded in .spcai-main-nav ul li a {

:root {
  --page-padding-x: 80px;

  @media (max-width: $breakpoint-1) {
    --page-padding-x: 40px;
  }
}

body:not(#en__pagebuilder):not([data-debug]) {
  .hide {
    display: none;
  }

  #en-shopping-cart .sc-cards .en__component--copyblock {
    &:not([data-card]) {
      p:first-child {
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #344857;
          z-index: 20;
          animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
        }

        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #f7f7fa;
          z-index: 19;
        }
      }

      h1+p,
      h2+p,
      h3+p {
        margin-bottom: 28px;
      }
    }
  }
}

body[data-debug] {
  .hide {
    background-color: #ff00001a !important;
  }
}

#en-shopping-cart {
  padding-left: var(--page-padding-x);
  padding-right: var(--page-padding-x);

  .en__component--advrow {
    max-width: 100%;
    min-height: unset;
  }

  // /* your-cart-component — bleeds to the left edge */
  // .your-cart-component {
  //   margin-left: calc(-1 * var(--page-padding-x));
  //   width: calc(100% + var(--page-padding-x));
  // }
  @import "./header.scss";
  @import "./cards.scss";
  @import "./info.scss";
  @import "./elements.scss";
  @import "./mobile.scss";
}

@import "./colors.scss";
@import "./page-builder.scss";

.flex {
  display: flex !important;
}

.form-container {
  margin: 0 auto !important;
  column-gap: 40px;
}
